
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}



<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   
    <link href="font/font-awesome.css" rel="stylesheet" />
    <link href="~/AnaCSS/ana.css" rel="stylesheet" />
    <link href="reset2.css" rel="stylesheet" />
</head>

<body>
    <form id="form1" runat="server">

        <header>

        </header>

        <!-- maın section -->

        <section id="mainSlider" class="slider">
            <div id="mainCaption" class="caption">
                <h1>YCF Yapı Market</h1>
                <p1></p1>
            </div>
        </section>

        <!-- FEATURE section -->
        <section id="features" class="sectionArea">
            <div class="featuresTop">
                <h2 class="sectionHeader">Bazı Ürün Seçenekleri</h2>
               
            </div>
            <div class="featuresBody">
                <div class="container">
                    <div class="col3">
                        <div class="item">
                            <div class="zoom">
                                <img src="~/AnaCSS/resimler/bahce makas.jpg" />
                            </div>
                            <div class="itemText">
                                <h3>Bahçe Makası</h3>
                                <p>birinci sınıf kalitesiyle<br/> Sadece 19.99 TL </p>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col3">
                        <div class="item">
                            <div class="zoom">
                                <img src="~/AnaCSS/resimler/FilliBoya.jpg" />
                            </div>
                            <div class="itemText">
                                <h3>Duvar boyası</h3>
                                <p>Filli boyanın kalitesi burada <br/>
                                Sadece bu aya özel 80TL değil 50 TL </p>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col3">
                        <div class="item">
                            <div class="zoom">
                                <img src="~/AnaCSS/resimler/matkap.jpg" />
                            </div>
                            <div class="itemText">
                                <h3>Darbeli Matkap</h3>
                                <p>en kalitelisi her zaman bizde <br/> sadece 35 TL</p>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- PARALLAX SECTİON -->

        <section id="parallax" class="sectionArea">
            <div class="parallaxTop">
                <h2 class="sectionHeader">YCF Yapı marketine Hoşgeldiniz </h2>
                <p>Aradığınız herşeyi burada bulabilirsiniz </p>
            </div>
        </section>
        <!-- ENGINE SECTİON -->
        <section id="engine" class="sectionArea">
            <div class="engineTop">
                <h2 class="sectionHeader">GELECEK ÜRÜNLER</h2>
                
            </div>
            <div class="engineBody">
                <div class="container">
                    <div class="col2">
                        <div class="engineContainer">
                            <img src="~/AnaCSS/resimler/ALETÇANTASI.jpg" class="imageOver" />
                            <p>YAKINDA 1. SINIF KALİTE ALET ÇANTAMIZ SİZİNLE OLACAKTIR</p>
                        </div>
                    </div>
                    <div class="col2">
                        <div class="engineContainer">
                            <img src="~/AnaCSS/resimler/KUREK.jpg" class="imageOver" />
                           <p>EN SAĞLAM PİŞMAN ETMEYECEK İNŞAAT VE BAHÇE ALETLERİ AKINDA SİZLERLE </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--  SECTİON -->

        <footer class="sectionArea">
            <div class="container">
                <div class="col3">
                    <div class="footerItem">
                        <h3>SİTEMİZE HOŞGELDİNİZ</h3>
                        <a href="anasayfa.aspx">
                         
                        </a>
                     
                    </div>
                </div>
                <div class="col3">
                    <div class="footerItem">
                        <h3>QUICK LINKS</h3>
                        <ul class="footerLinks">
                            
                        </ul>
                    </div>
                </div>
                <div class="col3">
                    <div class="footerItem">
                        <h3>BE SOCIAL WITH US</h3>
                        <ul class="socialLinks">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="https://www.instagram.com/fuatt0/?hl=tr"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </form>
</body>
</html>


