
@{
    ViewBag.Title = "_MainLayout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>18-701-049 FUAT HURİYETOGLU</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/Home/Index">YCF</a>
            </div>
            <ul class="nav navbar-nav">
                @if (User.Identity.IsAuthenticated == true)
                {
                    <p style="color: white">Hoş geldin @HttpContext.Current.User.Identity.Name</p>
                }
                <li class="active"><a href="/Home/Index">YAPI MARKET</a></li>
                <li> <a href="/kategori/Index">Kategori </a></li>
                <li><a href="/musteri/Index">Müşteri</a></li>
                <li><a href="/Urun/Index/">Ürün</a></li>
                @if (User.Identity.IsAuthenticated == true)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="/Security/LogOut">Çıkış Yap</a>
                    </li>
                }
                @if (User.IsInRole("A"))
                {

                    <li class="nav-item">
                        <a class="nav-link" href="/Users/Index">Kullanıcı</a>
                    </li>
                }
                @if (User.Identity.IsAuthenticated == false)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="/Security/Login">Giris</a>
                    </li>
                }
            </ul>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

</body>
</html>
