
@{
    ViewBag.Title = "MusteriEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">

    <div>
        <label>KATEGORİ ID</label>
        <input type="text" class="form-control" name="KategoriID" required="" />
    </div>
    <div>
        <label>Kategori ADI</label>
        <input type="text" class="form-control" name="KategoriAD" required="" />
    </div>
    <div style="margin-top: 20px;">
        <button class="btn btn-info">Kategori Ekle</button>
    </div>


</form>